

@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

.yeseva{
    font-family: 'Yeseva One', cursive;
}
.authorLink{
    color: skyblue;
}
.authorLink:hover{
    color: brown;
}
.add-form label{
    width: 20%;
}
.add-form input, select{
    width: 65%;
}
