{% extends 'base.html' %}


{% block content %}
    
<div class="container">
        <div class="d-flex justify-content-center">
            <div>
                <h2>Login</h2>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div>
                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" placeholder="Enter Username">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password">
                    <input type="submit" value="Login">
                </form>
            </div>
        </div>
</div>
{% endblock content %}
    