{% extends 'base.html' %}


{% block content %}

    <div class="d-flex justify-content-center">
        <div class="d-flex flex-column">
            <h1>{{ object.name }}</h1>
            <p class="text-muted">Email: {{ object.email }}</p>
            <p class="text-muted">From: {{ object.nationallity }}</p>
        </div>
    </div>
    <h3 style="text-decoration: underline;">{{ object.name }} Books:</h3>
    <div class="row d-flex justify-content-start">
        {% for b in object.author_books.all %}
            <div class="col-md-3 col-12 p-2">
                <div class="card" style="min-height: 101%;">
                    <div class="card-body">
                        <h4 class="card-title">{{ b.title }}</h4>
                        <a href="{% url 'author:author_details' pk=b.author.pk %}" class="text-muted">@{{ b.author }}</a>
                        <p class="card-text">Topic: {{ b.topic }}</p>
                        <p class="card-text">Pages: {{ b.number_of_pages }}</p>
                        <p class="card-text">Status: {{ b.status }}</p>
                        <div class="d-flex justify-content-around">
                            {% if perms.Book.change_book %}
                                <a href="{% url 'book:book_edit' pk=b.pk %}" class="card-link btn btn-warning">Edit</a>
                            {% endif %}
                            
                            {% if perms.Book.delete_book %}
                                <a href="{% url 'book:book_delete' pk=b.pk %}" class="card-link btn btn-danger">Delete</a>
                            {% endif %}
                            <a href="https://www.google.com" class="card-link btn btn-primary">Download</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% comment %}

        
            
    </ul>
    {% endcomment %}
        
    
{% endblock content %}
